<div class="px-2 px-md-3">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top small">
    <p class="col-md-4 text-black-50">© 2022 HalloAnwalt</p>

    <ul class="breadcrumb justify-content-end">
      <li class="breadcrumb-item"><a href="https://halloanwalt.de/faq/" class="text-decoration-none text-black-50">FAQ</a></li>
      <li class="breadcrumb-item"><a href="https://halloanwalt.de/impressum/" class="text-decoration-none text-black-50">Impressum</a></li>
      <li class="breadcrumb-item"><a href="https://halloanwalt.de/datenschutzerklaerung/" class="text-decoration-none text-black-50">Datenschutz</a></li>
    </ul>
  </footer>
</div>