<nav class="navbar navbar-light border-bottom">
  <a class="navbar-brand px-3 px-lg-5" href="https://halloanwalt.de" target="_blank">
    <img src="./logo.png" class="nav-logo" height="40" alt="HalloAnwalt">
  </a>
</nav>